.notFoundContainer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.notFoundContainer h2 {
  text-align: center;
  margin-bottom: 30px;
}
.notFoundContainer p {
  text-align: center;
  font-size: 20px;
}
@media (min-width: 768px) {
  .notFoundContainer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .notFoundContainer h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .notFoundContainer p {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
     .notFoundContainer h2 {
    font-size: 42px;
  }
  .notFoundContainer p {
    font-size: 28px;
  }
}
